.xblock-render {
  position: relative;
  min-height: 400px;
}

.xblock-render #container,
.xblock-render .expander-image {
  height: 400px;
}

.xblock-render #container,
.xblock-render .expander-trigger,
.xblock-render .expander-image,
.xblock-render .expander-text
{
  position: absolute;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.expander-trigger {
  position: fixed;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 23px;
  color: white;
  background-color: rgb(110, 27, 24);
  opacity: .7;
  z-index: 3;
}

.expander-trigger:hover {
  opacity: 1;
  z-index: 5;
  background-color: white;
  color: black;

}

.expander-trigger:hover + .expander-image {
  opacity: 1;
  z-index: 4;
}

.expander-image {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 2;
  transition: opacity .4s;
}

.expander-text {
  position: fixed;
  color: white;
  font-family: serif;
  font-style: italic;
}

.quote {
  font-size: 36px;
}

.person-name {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-style: normal;
  line-height: 45px;
}

.description {
  margin-left: 30px;
  font-size: 12px;
  max-width: 70%;
}

#expander-one {
  background-image: url(../images/1.png);
}

#expander-two {
  background-image: url(../images/2.png);
}

#expander-three {
  background-image: url(../images/3.png);
}

#expander-four {
  background-image: url(../images/4.png);
}

#expander-five {
  background-image: url(../images/5.png);
}

#expander-six {
  background-image: url(../images/6.png);
}
