.xblock-render {
  position: relative;
  min-height: 400px;
}

.xblock-render #container,
.xblock-render .expander-image {
  height: 400px;
}

.xblock-render #container,
.xblock-render .expander-trigger,
.xblock-render .expander-image,
.xblock-render .expander-text
{
  position: absolute;
}

#container {
  background: url(../images/background.jpg);
}

#expander-one {
  background-image: url(../images/1.png);
}

#expander-two {
  background-image: url(../images/2.png);
}

#expander-three {
  background-image: url(../images/3.png);
}

#expander-four {
  background-image: url(../images/4.png);
}

#expander-five {
  background-image: url(../images/5.png);
}

#expander-six {
  background-image: url(../images/6.png);
}
